[Unit]
Description=__NAME__ main container
After=network-online.target

[Container]
Image=docker.io/example/__NAME__:latest
AutoUpdate=registry
Volume=__NAME__-data.volume:/data:Z

[Service]
Restart=on-failure
RestartSec=10s

[Install]
WantedBy=default.target
