[Container]
Image=docker.io/grafana/promtail:3
ContainerName=promtail-__NAME__
Volume=./configs/promtail-__NAME__.yaml:/etc/promtail/promtail.yaml:ro
Volume=/var/log/journal/:/var/log/journal/:ro
Volume=/run/log/journal/:/run/log/journal/:ro
Volume=/etc/machine-id:/etc/machine-id:ro
Pod=promtail-__NAME__.pod
AutoUpdate=registry
SecurityLabelDisable=true

[Install]
WantedBy=default.target

[Service]
Restart=on-failure
RestartSec=10s
